.formulario-reporte{
    margin: 100px;
    height: 450px;
    width: 300px;
    align-self: center;
    
}



.fondo{
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
}